aggregationService/src/main/resources/wsdl/getEmployeeDetail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="getEmployeeDetail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getEmployeeDetail"
	targetNamespace="getEmployeeDetail">
	<wsdl:types>
		<xsd:schema targetNamespace="getEmployeeDetail">
			<xsd:element name="getEmployeeDetailRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="empId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEmployeeDetailResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="empName" type="xsd:string" />
						<xsd:element name="empId" type="xsd:string" />
						<xsd:element name="department" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getEmployeeDetailRequest">
		<wsdl:part element="tns:getEmployeeDetailRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getEmployeeDetailResponse">
		<wsdl:part element="tns:getEmployeeDetailResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="getEmployeeDetail">
		<wsdl:operation name="getEmployeeDetail">
			<wsdl:input message="tns:getEmployeeDetailRequest" name="getEmployeeDetailRequest" />
			<wsdl:output message="tns:getEmployeeDetailResponse"
				name="getEmployeeDetailResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="getEmployeeDetailSOAP" type="tns:getEmployeeDetail">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEmployeeDetail">
			<soap:operation soapAction="getEmployeeDetail/getEmployeeDetail" />
			<wsdl:input name="getEmployeeDetailRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEmployeeDetailResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="getEmployeeDetailService">
		<wsdl:port binding="tns:getEmployeeDetailSOAP" name="getEmployeeDetailSOAP">
			<soap:address location="http://localhost:8090/getEmployeeDetailService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
