aggregationService/src/main/resources/wsdl/getPersonDetail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="getPersonDetail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getPersonDetail"
	targetNamespace="getPersonDetail">
	<wsdl:types>
		<xsd:schema targetNamespace="getPersonDetail">
			<xsd:element name="getPersonDetailRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="empId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPersonDetailResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dob" type="xsd:string" />
						<xsd:element name="nino" type="xsd:string" />
						<xsd:element name="surname" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPersonDetailRequest">
		<wsdl:part element="tns:getPersonDetailRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getPersonDetailResponse">
		<wsdl:part element="tns:getPersonDetailResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="getPersonDetail">
		<wsdl:operation name="getPersonDetail">
			<wsdl:input message="tns:getPersonDetailRequest" name="getPersonDetailRequest" />
			<wsdl:output message="tns:getPersonDetailResponse" name="getPersonDetailResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="getPersonDetailSOAP" type="tns:getPersonDetail">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPersonDetail">
			<soap:operation soapAction="getPersonDetail/getPersonDetail" />
			<wsdl:input name="getPersonDetailRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getPersonDetailResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="getPersonDetailService">
		<wsdl:port binding="tns:getPersonDetailSOAP" name="getPersonDetailSOAP">
			<soap:address location="http://localhost:8091/getPersonDetailService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
